.app {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 60px;
}
.product-list {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 70%;
    justify-content: center;
}
.cart {
    display: flex;
    flex: 0 0 30%;
    justify-content: center;
    align-items: center;
    border: 1px solid salmon;
}
.product {
    margin: 10px;
    border: 1px solid gray;
    width: 200px;
}
.product img {
    width: 100%;
}
.details,
.actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.actions {
    border-top: 1px solid grey;
}

.details span:nth-child(1),
.actions span {
    font-size: 12px;
}
.details span:nth-child(2) {
    font-size: 12px;
    font-weight: bold;
}
.actions span {
    padding-top: 7px;
    font-weight: bold;
}
.search {
    min-width: 400px;
}
